<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
          
                @Html.Action("AdminDetails","Contacts")

                <div class="logo-element">
                    <i class="fa fa-pagelines"> LPT</i>
                </div>
            </li>
            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "Projects")"><i class="fa fa-pagelines"></i> <span class="nav-label">Home</span> </a>
            </li>
            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "Contacts")"><i class="fa fa-user"></i> <span class="nav-label">Team</span> </a>
            </li>
          
        </ul>
    </div>
</nav>