@using TeamProjectWeb.Models

@model ProjectViewModel 

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Project detail</h2>
       <!-- <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Projects")">Projects</a>
            </li>
            <li class="active">
                <strong>Project detail</strong>
            </li>
        </ol>-->
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                @Html.ActionLink("Work Items", "Index", "WorkItems", new { id = Model.ProjectId },new { @class="btn btn-primary btn-xs pull-right"})
                                <!--<a href="#" class="btn btn-white btn-xs pull-right">Edit project</a>-->
                                <h2><b>@Html.DisplayFor(m => m.ProjectName)</b></h2>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">
                                <dt>Completed:</dt>
                                <dd>@Html.DisplayFor(m => m.PercentageCompleted)</dd>
                                <dt>Status</dt>
                                <dd>
                                    <span class="label label-primary">
                                        @Html.DisplayFor(m => m.StatusDescription)
                                    </span>

                                </dd>
                          
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">

                                <dt>Last Updated:</dt>
                                <dd> @Html.DisplayFor(m => m.UpdatedDate)</dd>
                                <dt>Created:</dt>
                                <dd>@Html.DisplayFor(m=>m.CreatedDate)</dd>
                            
                            </dl>
                        </div>
                    </div>
                  
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                  
                            <div class="well">
                                    <h3>Description</h3>
                                    <p>@Model.ProjectDescription</p>
                                
                            </div>

                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Team Members</a></li>
                                       
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <div class="feed-activity-list">
                                                @foreach(var member in Model.TeamMembersViewModel )
                                                {
                                                <div class="feed-element">
                                                    <a href="#" class="pull-left">
                                                        <img alt="image" class="img-circle" src="@Url.Content(member.PhotoPath)">
                                                    </a>
                                                    <div class="media-body ">
                                                       <!-- <small class="pull-right">2h ago</small> -->
                                                        <strong>@member.FullName</strong> - <strong>@member.Role</strong> <br>
                                                        <!--<small class="text-muted">@member.Role</small>-->
                                                        <div class="well">
                                                            @member.Description
                                                        </div>
                                                    </div>
                                                </div>
                                                }


                                 
                                            </div>

                                        </div>
                                      
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content project-manager">
     
        </div>
    </div>
</div>

