
@using TeamProjectWeb.Models
@using TeamProject.Common

@model IEnumerable<ProjectItemViewModel>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Project Management</h2>
    
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h4>Project List</h4>
         
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                   
                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>

                                @foreach (var p in Model)
                                { 
                                <tr>
                                    <td class="project-status">
                                        <span class="label label-primary">@Html.DisplayFor(m=>p.StatusDescription)</span>
                                    </td>
                                    <td class="project-title">
                                        <a href="@Url.Action("Details", "Projects", new { id = p.ProjectId })">@p.ProjectName</a><br />
                                       <small>Created @Html.DisplayFor(m => p.CreatedDate)</small>
                                    </td>

                                    <td>
                                        @p.ProjectShortDescription
                                    </td>

                                    <td class="project-completion">
                                        <small>Completion with: @Html.DisplayFor(m=>p.PercentageCompleted) </small>
                                        <div class="progress progress-mini">
                                            <div style="width: @Html.DisplayFor(m=>p.PercentageCompleted)" class="progress-bar"></div>
                                        </div>

                                  
                                       
                        <td class="project-actions">
                                        <a href="@Url.Action("Index", "WorkItems", new { id =(int)p.ProjectId, status= (int)StatusEnum.ToDo})" class="btn btn-white btn-sm"><i class="fa fa-tasks"></i>  Work Items </a>
                                        <a href="@Url.Action("Details", "Projects", new { id = p.ProjectId })" class="btn btn-white btn-sm"><i class="fa fa-folder"></i>  View </a>
                                      
                                    </td>
                                </tr>
                                }
                     
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

