@{
    ViewBag.Title = "Team Members";
}
@using TeamProject.Business.Entities

@model IEnumerable<Contact>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Team</h2>
    
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    @foreach (var c in Model)
    {
        <div class="col-lg-4">
            <div class="contact-box">
            <!--    <a href="@Url.Action("Profile", "AppViews")">-->
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="@Url.Content(c.PhotoPath)">
                            <div class="m-t-xs font-bold">@c.Title</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>@c.FirstName  @c.LastName</strong></h3>
                        <p><i class="fa fa-map-marker"></i> @c.StreetNameAndNumber</p>
                        <address>
                            <strong>@c.CompanyId</strong><br>
                            @c.StreetNameAndNumber<br>
                            @c.City, @c.State, @c.ZIP<br>
                            @{
        if (!String.IsNullOrEmpty(c.WorkPhoneNumber))
        { 
                            <abbr title="Phone">P:</abbr> @String.Format("{0:(###) ###-####}", long.Parse(c.WorkPhoneNumber))
        }
    }
                        </address>
                    </div>
                    <div class="clearfix"></div>
               <!-- </a>-->
            </div>
        </div>
    }

    </div>
</div>

